<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title>Group List</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="create()">Add Group</button>
      </nz-page-header-extra>
    </nz-page-header>
  </div>

</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Group Name</th>
          <th>Center Name</th>
          <th>No of Members</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.groupname }}</td>
          <td>{{ data.centername }}</td>
          <td>{{ data.noofmember }}</td>
          <td>
            <a (click)="edit(data.groupid)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.groupid)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>