<form nz-form   nzLayout="horizontal">
  
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Applicant Photo Upload</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please upload image !">
          <nz-upload   nzType="drag"
          [nzLimit]="0"
          [nzFileType]="'image/png,image/jpeg'" nzListType="picture"  [nzMultiple]="false" [nzFileList]="fileLista" (nzChange)="handleChange($event,'applicant')">
            <button nz-button>
              <i nz-icon nzType="upload"></i>Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Co-Applicant Photo Upload</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please upload image !">
          <nz-upload  nzType="drag"
          [nzLimit]="0"
          [nzFileType]="'image/png,image/jpeg'" nzListType="picture"  [nzMultiple]="false" [nzFileList]="fileListco" (nzChange)="handleChange($event,'coapplicant')">
            <button nz-button>
              <i nz-icon nzType="upload"></i>Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Applicant Signature Upload</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please upload image !">
          <nz-upload  nzType="drag"
          [nzLimit]="0"
          [nzFileType]="'image/png,image/jpeg'" nzListType="picture"  [nzMultiple]="false" [nzFileList]="fileListas" (nzChange)="handleChange($event,'applicantsign')">
            <button nz-button>
              <i nz-icon nzType="upload"></i>Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Co-Applicant Signature Upload</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback nzErrorTip="Please upload image !">
          <nz-upload  nzType="drag"
          [nzLimit]="0"
          [nzFileType]="'image/png,image/jpeg'" nzListType="picture"  [nzMultiple]="false" [nzFileList]="fileListcos" (nzChange)="handleChange($event,'coapplicantsign')">
            <button nz-button>
              <i nz-icon nzType="upload"></i>Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>