<div nz-row [nzGutter]="32">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title> {{title}} </nz-page-header-title>
    </nz-page-header>
  </div>

</div>

<div class="card-scroll">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="horizontal">
    <div nz-row [nzGutter]="12">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired class="p-0" [nzSpan]="24">Loan Amount</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input your Loan Amount!" [nzSpan]="24">
            <nz-select nzShowSearch nzAllowClear formControlName="loanamount" nzPlaceHolder="Select a Given Amount">
              <nz-option [nzLabel]="list.name" [nzValue]="list.name" *ngFor="let list of dropDownLists.Amount">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired class="p-0" [nzSpan]="24">Annual Interest</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input your Annual Interest Rate!" [nzSpan]="24">
            <input nz-input type="number" formControlName="annualinterestrate" placeholder="Annual Interest" name="" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="12">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired class="p-0" [nzSpan]="24">Loan Duration</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input your Loan Period 1 Year!" [nzSpan]="24">
            <nz-select nzShowSearch nzAllowClear formControlName="loanperiod" nzPlaceHolder="Select a Given Amount">
              <nz-option [nzLabel]="list.name" [nzValue]="list.id" *ngFor="let list of dropDownLists.Duration"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired class="p-0" [nzSpan]="24">Loan Repayment</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input your Total Interest!" [nzSpan]="24">
            <nz-select nzShowSearch nzAllowClear formControlName="repayment" nzPlaceHolder="Select a Given Amount">
              <nz-option [nzLabel]="list.name" [nzValue]="list.id" *ngFor="let list of dropDownLists.Repayment"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="12">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired class="p-0" [nzSpan]="24">Start Date of Loan</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please input your Start Date of Loan!" [nzSpan]="24">
            <nz-date-picker formControlName="emistartdate" (ngModelChange)="onChange($event)"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="position-right">
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Calculate</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24">
      <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>sl.no</th>
            <th>Installment Date</th>
            <th>Installment Amt</th>
            <th>Principal</th>
            <th>Int</th>
            <th>Balance</th>
            <th>Collected Date</th>
            <th>Collected Amt</th>
            <th>Days</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ data.installmentdate | date:'dd-MM-yyyy' }} ({{data.installmentday}})</td>
            <td>{{ data.installmentamount }}</td>
            <td>{{ data.principal }}</td>
            <td>{{ data.int }}</td>
            <td>{{ data.balance }}</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>