<div nz-row [nzGutter]="32">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title> {{title}} </nz-page-header-title>
    </nz-page-header>
  </div>
  
</div>

<div class="card-scroll">

<form nz-form [formGroup]="validateForm"   (ngSubmit)="submitForm(validateForm)" nzLayout="horizontal">
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Name of the Borrower</nz-form-label
        >
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Bank!" [nzSpan]="24">
          <input nz-input formControlName="nameoftheborrower" placeholder="Name of the Borrower" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Loan Account Number</nz-form-label
        >
        <nz-form-control nzHasFeedback nzErrorTip="Please input your Loan Account Number!" [nzSpan]="24">
          <input nz-input formControlName="loanaccountno" placeholder="Loan Account Number" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Loan Amount</nz-form-label
        >
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Loan Amount!" [nzSpan]="24">
          <input nz-input formControlName="loanamount" placeholder="Loan Amount" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Processing Fee </nz-form-label>
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Processing Fee!" [nzSpan]="24">
          <input nz-input formControlName="processingfee" placeholder="Processing Fee" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Annual Interest Rate</nz-form-label>
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Annual Interest Rate!" [nzSpan]="24">
        <input nz-input formControlName="annualinterestrate" placeholder="Processing Fee" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Insurance</nz-form-label>
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Insurance!" [nzSpan]="24">
        <input nz-input formControlName="insurance" placeholder="Insurance" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Loan Period 1 Year</nz-form-label>
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Loan Period 1 Year!" [nzSpan]="24">
        <input nz-input formControlName="loanperiod" placeholder="Loan Period 1 Year" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Total Interest</nz-form-label>
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Total Interest!" [nzSpan]="24">
        <input nz-input formControlName="totalinterest" placeholder="Total Interest" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="12">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Start Date of Loan</nz-form-label>
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Start Date of Loan!" [nzSpan]="24">
        <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
        <!-- <input nz-input formControlName="startdateloan" placeholder="Start Date of Loan" name="" /> -->
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Total Cost of Plan</nz-form-label>
        <nz-form-control nzHasFeedback
        nzErrorTip="Please input your Total Cost of Plan!" [nzSpan]="24">
        <input nz-input formControlName="totalcostofplan" placeholder="Total Cost of Plan" name="" />
        </nz-form-control>
      </nz-form-item>
      
    </div>
  </div>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary">Search</button>
    </nz-form-control>
  </nz-form-item>
  </form>




  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24">
      <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>Loan Account Number</th>
            <th>Gold Loan Branch</th>
            <th>Micro Pin Branch</th>
            <th>Existing Center</th>
            <th>Center Group</th>
            <th>Existing Group</th>
            <th>Center Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.loanaccountno }}</td>
            <td>{{ data.goldloanbranch }}</td>
            <td>{{ data.micropinbranch }}</td>
            <td>{{ data.existingcenter }}</td>
            <td>{{ data.centergroup }}</td>
            <td>{{ data.existinggroup }}</td>
            <td>{{ data.centeraddress }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>