<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title>Employee List</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="create()">Add Employee</button>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Employee Gender</th>
          <th>Employee Salary</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.employeename }}</td>
          <td>{{ data.employeegender }}</td>
          <td>{{ data.employeesalary }}</td>
          <td>
            <a (click)="edit(data.employeeid)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.employeeid)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>