<form nz-form [formGroup]="validateForm" (ngSubmit)="submitApplicantForm(validateForm)" nzLayout="horizontal">
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Loan Account Number</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Loan Account Number !">
          <input nz-input formControlName="loanaccountno" placeholder="Loan Account Number" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Gold Loan Branch</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Gold Loan Branch !">
          <input nz-input formControlName="goldloanbranch" placeholder="Gold Loan Branch" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Micro Pin Branch</nz-form-label
        >
        <nz-form-control nzHasFeedback
				nzErrorTip="Please input your Micro Pin Branch !" [nzSpan]="24">
          <input nz-input formControlName="micropinbranch" placeholder="Micro Pin Branch" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Existing Center</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Existing Center !">
          <nz-select nzShowSearch nzAllowClear formControlName="existingcenter" nzPlaceHolder="Select a Existing Center">
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Center Group</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Center Group !">
          <nz-select nzShowSearch nzAllowClear formControlName="centergroup" nzPlaceHolder="Select a Center Group">
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Existing Group</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Existig Group!">
          <nz-select nzShowSearch nzAllowClear formControlName="existinggroup" nzPlaceHolder="Select a Existig Group">
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Center Address</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Center Address !">
          <textarea
            nz-input
            rows="2"
            formControlName="centeraddress"
            placeholder="write any thing"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-divider nzText="Applicant Details" nzOrientation="left"></nz-divider>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Applicant Photo Upload</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please upload image !">
          <nz-upload
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzHeaders]="{ authorization: 'authorization-text' }"
          >
            <button nz-button>
              <i nz-icon nzType="upload"></i>Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Co-Applicant Photo Upload</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please upload image !">
          <nz-upload
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzHeaders]="{ authorization: 'authorization-text' }"
          >
            <button nz-button>
              <i nz-icon nzType="upload"></i>Click to Upload
            </button>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Name</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please choose your Name!">
          <input nz-input placeholder="Name" formControlName="name" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Education</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please choose your Education!">
          <nz-select
            nzShowSearch
            nzAllowClear
            formControlName="education"
            nzPlaceHolder="Select a education"
          >
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Marriage Details</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please choose your Marriage Details !">
          <nz-select
            nzShowSearch
            nzAllowClear
            formControlName="marriagedetails"
            nzPlaceHolder="Select a marriage details"
          >
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Husband/Father Name</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Husband/Father Name !">
          <input nz-input formControlName="husbandfathername" placeholder="Husband/Father Name" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Religion</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please choose your Religion!">
          <nz-select
            nzShowSearch
            nzAllowClear
            formControlName="religion"
            nzPlaceHolder="Select a religion"
          >
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Caste</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please choose your Caste Name!">
          <nz-select nzShowSearch nzAllowClear formControlName="caste" nzPlaceHolder="Select a caste">
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Phone Number</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Phone No !">
          <input nz-input formControlName="phoneno" placeholder="Phone Number" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Telephone Number</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Telephone no!">
          <input nz-input formControlName="telephone" placeholder="Telephone Number" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Present Address</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Present Address!">
          <textarea
            nz-input
            formControlName="presentaddress"
            rows="2"
            placeholder="write any thing"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Permanent Address</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Permanent Address!">
          <textarea
            formControlName="permanentaddress"
            nz-input
            rows="2"
            placeholder="write any thing"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">State(Present)</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your State Name!">
          <input nz-input formControlName="statepresent" Address placeholder="Present State" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >State(permanent)</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Permanent State!">
          <input nz-input formControlName="statepermanent" placeholder="Permanent State" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Pincode(Present)</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Permanent Pincode!">
          <input nz-input formControlName="pincodepresent" placeholder="Permanent Pincode" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Pincode(Permanent)</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Permanent Pincode!">
          <input nz-input formControlName="pincodepermanent" placeholder="Permanent Pincode" name="" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >No.of year of stay in Present Area</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your No.of year of stay in Present Area!">
          <input
            nz-input
            formControlName="noofyearstay"
            placeholder="No.of year of stay in Present Area"
            name=""
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">House Status</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please choose your House Status!">
          <nz-select
            nzShowSearch
            nzAllowClear
            formControlName="housestatus"
            nzPlaceHolder="Select House Status"
          >
            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24">Primary ID Type</nz-form-label>
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Primary ID!">
          <nz-select
            nzShowSearch
            formControlName="primaryid"
            nzAllowClear
            nzPlaceHolder="Select Primary ID"
          >
            <nz-option nzLabel="uid" nzValue="uid"></nz-option>
            <nz-option nzLabel="electionid" nzValue="electionid"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Primary ID Number</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Primary ID Number!">
          <input
            nz-input
            formControlName="primaryidnumber"
            placeholder="Primary ID Type UID / Election ID"
            name=""
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Secondary ID Type</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please choose your Secondary ID!">
          <nz-select
            nzShowSearch
            nzAllowClear
            formControlName="secondaryid"
            nzPlaceHolder="Select Secondary ID"
          >
            <nz-option nzLabel="rationcard" nzValue="rationcard"></nz-option>
            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired class="p-0" [nzSpan]="24"
          >Secondary ID Number</nz-form-label
        >
        <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Secondary ID Number!">
          <input
            nz-input
            formControlName="secondaryidnumber"
            placeholder="Secondary ID Type Ration Card / Bank Passbook / Others"
            name=""
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
