<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title>Dashboard</nz-page-header-title>     
    </nz-page-header>
  </div>  
</div>

<nz-row [nzGutter]="16">
  <nz-col nzSpan="6">
    <div class="greeting-card">
      <div>
        <h2 nz-typography class="mb-0"><i>Hi, Administrator</i></h2>
        <h1 nz-typography class="second-text">
          Ready to start your day?
        </h1>
      </div>
      <div>
        <img src="../../../../assets//admin-img.svg" />
      </div>
    </div>
  </nz-col>
  <nz-col nzSpan="8">
    <nz-row [nzGutter]="16">
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/applicant.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Applicant</p>
          </span>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/group.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Group</p>
          </span>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/center.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Center</p>
          </span>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/loan.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Loan Process</p>
          </span>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>

</nz-row>