<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title>Dashboard</nz-page-header-title>     
    </nz-page-header>
  </div>  
</div>

<div style="overflow-y: auto; overflow-x: hidden; width: 100%; height: calc(100vh - 190px);">

<nz-row [nzGutter]="16">
  <nz-col nzSpan="4">
    <div class="greeting-card">
      <div>
        <h2 nz-typography class="mb-0"><i>Hi, Admin</i></h2>
        <h1 nz-typography class="second-text">
          Ready to start your day?
        </h1>
      </div>
      <div>
        <img src="../../../../assets//admin-img.svg" />
      </div>
    </div>
  </nz-col>
  <nz-col nzSpan="8">
    <nz-row [nzGutter]="16">
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/applicant.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Applicant</p>
          </span>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/group.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Group</p>
          </span>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/center.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Center</p>
          </span>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="12">
        <nz-card
          class="card-custom"
          nzHoverable
        >
          <div class="card-svg">
            <img src="../../../../assets/loan.svg">
                      </div>
          <span nz-typography>
            <a class="card-custom-heading mb-0">
              100
            </a>
              <p class="card-custom-text">Loan Process</p>
          </span>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
  <nz-col nzSpan="12">
    <canvas baseChart
  [datasets]="bubbleChartData"
  [options]="bubbleChartOptions"
  [colors]="bubbleChartColors"
  [legend]="bubbleChartLegend"
  [chartType]="bubbleChartType">
</canvas>
  </nz-col>
</nz-row>


<br>
<nz-row [nzGutter]="16">
  <nz-col nzSpan="12">
    <canvas
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [colors]="lineChartColors"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  >
  </canvas>
  </nz-col>
  <nz-col nzSpan="12">
    <canvas baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType">
  </canvas>
</nz-col>
</nz-row>

</div>