<form nz-form [formGroup]="validateForm"  nzLayout="horizontal">
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Name</nz-form-label
      >
      <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Name!">
        <input nz-input placeholder="Name" formControlName="coapplicantname" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Co Applicant Gender</nz-form-label
      >
      <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Gender!">
        <nz-select nzShowSearch nzAllowClear formControlName="gender" nzPlaceHolder="Select gender">
          <nz-option [nzLabel]="list.name" [nzValue]="list.name" *ngFor="let list of dropDownLists.Gender">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Relationship with Applicant</nz-form-label
      >
      <nz-form-control [nzSpan]="24" nzHasFeedback>
        <nz-select nzShowSearch nzAllowClear formControlName="relationtype" placeholder="Relationship with Applicant">      
          <nz-option [nzLabel]="list.name" [nzValue]="list.name" *ngFor="let list of dropDownLists.Relationship"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24">Age & DOB</nz-form-label>
      <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Secondary ID Number!">
        <nz-date-picker formControlName="dob"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
</form>