<form nz-form [formGroup]="validateForm" (ngSubmit)="submitCoApplicantForm(validateForm)" nzLayout="horizontal">
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Name</nz-form-label
      >
      <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Name!">
        <input nz-input placeholder="Name" formControlName="name" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Co Applicant Gender</nz-form-label
      >
      <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Gender!">
        <nz-select nzShowSearch nzAllowClear formControlName="gender" nzPlaceHolder="Select gender">
          <nz-option nzLabel="male" nzValue="male"></nz-option>
          <nz-option nzLabel="female" nzValue="female"></nz-option>
          <nz-option nzLabel="transgender" nzValue="transgender"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Relationship with Applicant</nz-form-label
      >
      <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Relationship with Applicant!">
        <input nz-input formControlName="relationship" placeholder="Relationship with Applicant" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24">Age & DOB</nz-form-label>
      <nz-form-control [nzSpan]="24" nzHasFeedback
				nzErrorTip="Please input your Secondary ID Number!">
        <nz-date-picker></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
</form>