<div nz-row [nzGutter]="32">
  <div nz-col nzSpan="24">
    <nz-page-header nzBackIcon>
      <nz-page-header-title> {{title}} </nz-page-header-title>
    </nz-page-header>
  </div>

</div>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitCenterForm(validateForm)" nzLayout="horizontal">
  <div nz-row [nzGutter]="32">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Center Name</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your Center Name!" [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="centername" id="centername" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Center Address</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your center Name!" [nzSm]="14" [nzXs]="24">
          <textarea formControlName="centeraddress" nz-input rows="2" placeholder="write any thing"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Mobile Number</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="14" [nzXs]="24" nzErrorTip="Please input Center Mobile No !">
          <input nz-input formControlName="mobileno" placeholder="Mobile Number" name="" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Select Employee Name</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your center Name!" [nzSm]="14" [nzXs]="24">
          <nz-select nzShowSearch nzAllowClear formControlName="employeeid" nzPlaceHolder="Select employee name">
            <nz-option *ngFor="let employee of employeedetails"
              [nzLabel]="employee.employeecode +' - '+employee.employeename " [nzValue]="employee.employeeid">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">{{btnName}}</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>