<form nz-form [formGroup]="validateForm"  nzLayout="horizontal">
<div nz-row [nzGutter]="12">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Name of the Bank</nz-form-label
      >
      <nz-form-control nzHasFeedback
      nzErrorTip="Please input your Bank!" [nzSpan]="24">
        <input nz-input formControlName="bankname" placeholder="Name of the Bank" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Branch</nz-form-label
      >
      <nz-form-control nzHasFeedback nzErrorTip="Please input your Branch!" [nzSpan]="24">
        <input nz-input formControlName="branchname" placeholder="Branch" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row [nzGutter]="12">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24"
        >Account No</nz-form-label
      >
      <nz-form-control nzHasFeedback
      nzErrorTip="Please input your Account No!" [nzSpan]="24">
        <input nz-input type="number" formControlName="accno" placeholder="Account No" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24">IFSC Code </nz-form-label>
      <nz-form-control nzHasFeedback
      nzErrorTip="Please input your IFSC Code!" [nzSpan]="24">
        <input nz-input formControlName="ifsccode" placeholder="IFSC Code" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row [nzGutter]="12">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24">Type of Account</nz-form-label>
      <nz-form-control nzHasFeedback
      nzErrorTip="Please input your Type of Account!" [nzSpan]="24">
        <nz-select formControlName="accountype" nzShowSearch nzAllowClear nzPlaceHolder="Select Type of Account">
         
          <nz-option *ngFor="let dataedu of dropdownValue.BankAccountType" [nzLabel]="dataedu.name" [nzValue]="dataedu.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24">Mode of Operation</nz-form-label>
      <nz-form-control nzHasFeedback
      nzErrorTip="Please input your Mode of Operation!" [nzSpan]="24">
        <nz-select formControlName="accountmode" nzShowSearch nzAllowClear nzPlaceHolder="Select Mode of Operation">
        
          <nz-option *ngFor="let dataedu of dropdownValue.BankAccountMode" [nzLabel]="dataedu.name" [nzValue]="dataedu.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div nz-row [nzGutter]="12">
  <div nz-col nzSpan="24">
    <nz-form-item>
      <nz-form-label nzRequired class="p-0" [nzSpan]="24">Accountholder Name</nz-form-label>
      <nz-form-control nzHasFeedback
      nzErrorTip="Please input your Name!" [nzSpan]="24">
        <input nz-input formControlName="accountholdername" placeholder="Name" name="" />
      </nz-form-control>
    </nz-form-item>
  </div>
</div> 
</form>