<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title>Applicant List</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="create()">Add Applicant</button>
      </nz-page-header-extra>
    </nz-page-header>
  </div>  
</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Loan Account Number</th>
          <th>Gold Loan Branch</th>
          <th>Micro Pin Branch</th>
          <th>Existing Center</th>
          <th>Center Group</th>
          <th>Existing Group</th>
          <th>Center Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.applicantid }}</td>
          <td>{{ data.applicantname }}</td>
          <td>{{ data.sidno }}</td>
          <td>{{ data.mobileno }}</td>
          <td>{{ data.groupid }}</td>
          <td>{{ data.pidtype }}</td>
          <td>{{ data.permanentaddress }}</td>
          <td>
            <a (click)="edit(data.applicantid)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.applicantid)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>