<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title>Applicant List</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="create()">Add Applicant</button>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-table #basicTable [nzData]="listOfDisplayData">
      <thead>
        <tr>
          <th nzCustomFilter>Applicant Id<nz-filter-trigger [(nzVisible)]="visibleid" [nzActive]="searchid.length > 0" [nzDropdownMenu]="menuid">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger></th>
          <th nzCustomFilter>Applicant Name<nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger></th>
          <th>Loan Id</th>
          <th>Center Name</th>
          <th>Group Name</th>
          <th>Loan Amount</th>
          <th>Loan Day</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.formid }}</td>
          <td>{{ data.applicantname }}</td>
          <td>{{ data?.loans[0]?.loanformid || '-' }}</td>
          <td>{{ data.centername }}</td>
          <td>{{ data.groupname }}</td>
          <td>{{ (data?.loans[0]?.loanamount | number:'1.2-2') || '-' }}</td>
          <td>{{data?.installmentday || '-'}}</td>
          <td>
            <a (click)="edit(data.applicantid)"><i nz-icon nzType="edit" nzTheme="outline"></i></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="delete(data.applicantid)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
            Search
          </button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
    <nz-dropdown-menu #menuid="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search By id" [(ngModel)]="searchid" />
          <button nz-button nzSize="small" nzType="primary" (click)="searchbyid()" class="search-button">
            Search
          </button>
          <button nz-button nzSize="small" (click)="resetid()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>