<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-page-header nzBackIcon class="site-page-header">
      <nz-page-header-title>View Applicant Details</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="primary" [useExistingCss]="true" printSectionId="print-section" ngxPrint> <i nz-icon
            nzType="printer" nzTheme="outline"></i> Print</button>
      </nz-page-header-extra>
    </nz-page-header>
  </div>
</div>

<div id="print-section" style="height: 90%; overflow-y: auto;">

  <h3 class="mb-0" nz-typography>Applicant Details</h3>

  <nz-page-header [nzGhost]="false">

    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="Name" [nzSpan]="1">Lava Gandhi</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Education" [nzSpan]="1">MCA</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Marriage Details" [nzSpan]="1">Yes</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Husband/Father Name" [nzSpan]="1">Chinnasamy</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Religion" [nzSpan]="1">Hindhu</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">9090232323</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Telephone Number" [nzSpan]="1">-</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Present Address" [nzSpan]="1">Zhejiang, India</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Permanent Address" [nzSpan]="1">Zhejiang, India</nz-descriptions-item>
        <nz-descriptions-item nzTitle="State Permanent" [nzSpan]="1">Hangzhou</nz-descriptions-item>
        <nz-descriptions-item nzTitle="State Present" [nzSpan]="1">Hangzhou</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Pincode Permanent" [nzSpan]="1">121212</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Pincode Present" [nzSpan]="1">121212</nz-descriptions-item>
        <nz-descriptions-item nzTitle="No.of year of stay in Present Area" [nzSpan]="1">10 year</nz-descriptions-item>
        <nz-descriptions-item nzTitle="House Status" [nzSpan]="1">Yes</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Primary ID Type" [nzSpan]="1">Aadhar Number</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Primary ID Number" [nzSpan]="1">1234/1234/1234</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Secondary ID Type" [nzSpan]="1">Voter Id</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Secondary ID Number" [nzSpan]="1">ABC12345</nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>
  <nz-divider></nz-divider>
  <h3 class="mb-0" nz-typography>Co Applicant Details</h3>

  <nz-page-header [nzGhost]="false">

    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="Co Applicant Name" [nzSpan]="1">Lava</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Co Applicant Gender" [nzSpan]="1">Female</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Relationship with Applicant" [nzSpan]="1">Wife</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Age & DOB" [nzSpan]="1">28</nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>

  <nz-divider></nz-divider>
  <h3 class="mb-0" nz-typography>Business Details</h3>

  <nz-page-header [nzGhost]="false">

    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="Nature of Business" [nzSpan]="1">IT</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Year of Experience" [nzSpan]="1">6</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Distance from Residence" [nzSpan]="1">12</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Address" [nzSpan]="1">Oddapatti, Dharmapuri.</nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>



  <nz-divider></nz-divider>
  <h3 class="mb-0" nz-typography>Income Details</h3>

  <nz-page-header [nzGhost]="false">

    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="No of family members including applicant" [nzSpan]="1">2</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Approximate Yearly Family Income" [nzSpan]="1">6 Laks</nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>


  <nz-divider></nz-divider>
  <h3 class="mb-0" nz-typography>Bank Account Details</h3>

  <nz-page-header [nzGhost]="false">

    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="Name of the Bank" [nzSpan]="1">Bank of Baroda</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Branch" [nzSpan]="1">Thudiyalur</nz-descriptions-item>
        <nz-descriptions-item nzTitle="A/C Number" [nzSpan]="1">123123123</nz-descriptions-item>
        <nz-descriptions-item nzTitle="IFSC Code" [nzSpan]="1">THU2323</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Type of Account" [nzSpan]="1">SB</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Mode of Operation" [nzSpan]="1">RTGS</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Name" [nzSpan]="1">Gandhi C</nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>
  <nz-divider></nz-divider>
  <h3 class="mb-0" nz-typography>Bank Account Details</h3>

  <nz-page-header [nzGhost]="false">

    <nz-page-header-content>
      <nz-descriptions nzSize="small" [nzColumn]="3">
        <nz-descriptions-item nzTitle="Applicant Photo" [nzSpan]="1"> <img nz-image width="200px" height="200px"
            nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="" />
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Co Applicant Photo" [nzSpan]="1"> <img nz-image width="200px" height="200px"
            nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" alt="" />
        </nz-descriptions-item>
      </nz-descriptions>
    </nz-page-header-content>
  </nz-page-header>
</div>