/* You can add global styles to this file, and also import other style files */
.mb-0{margin-bottom: 0px;}
.p-0{padding: 0px !important;}
.ant-form-item-control-input-content{text-align: left;}
nz-date-picker {
    width:100%;
  }
  .ant-page-header{
      padding: 0px !important;
      margin-bottom: 20px !important;
  }