<div nz-row [nzGutter]="32">
  <div nz-col nzSpan="24">
    <nz-page-header>
      <nz-page-header-title> {{title}} </nz-page-header-title>
    </nz-page-header>
  </div>

</div>

<div class="card-scroll">
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="12">
      <nz-table nzBordered #exportdata [nzData]="listOfData">
        <thead>
          <tr>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of exportdata.data">
            <td>{{item.name}}</td>
            <td>
              <a (click)="ExportData(item.exportname)"><i nz-icon nzType="download" nzTheme="outline"></i> Download</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a><i nz-icon nzType="printer" nzTheme="outline"></i> Print</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>


<div id="printdiv" style="display: none;"> 
  Here is your html content for print
</div>